{:source-paths ["src"]
 :dependencies [[rum "0.12.3"]
                [clj-kondo "2020.07.29"]
                [cider/cider-nrepl "0.25.3"]]
 :dev-http {8008 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn app.main/main!}}}}}