;;; Copyright © 2020 Nanoni
;;; This program is a free software published under the AGPLv3 or later.
;;; It is distributed without any warranty.
;;; You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.

{:source-paths ["src"]
 :dependencies [[rum "0.12.3"]
                [clj-kondo "2020.07.29"]
                [cider/cider-nrepl "0.25.3"]]
 :dev-http {8008 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :build-hooks [(utils.build/copy-resources!)]
                :modules {:main {:init-fn app.main/main!}}}}}